@import 'base/variables';
@import 'libs/font';
@import 'libs/slick;
@import 'reboot-nastya';

html {
    font-size: 16px;
}

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
 }

.container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 20px;
} 

.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/inputs';
@import 'blocks/banner-gallery';
@import 'blocks/gallery';
@import 'blocks/catalog';
@import 'blocks/good-item';
@import 'blocks/reviews';
@import 'blocks/_footer';
@import 'blocks/media';
@import 'blocks/modal';