.consultation {
    height: 100vh;
    padding: 100px 0 90px;
    background: url(../images/banner-2.jpg) center (center/cover) no-repeat;
    &__title {
        max-width: 780px;
        margin-bottom: 80px;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__descr {
        color: #ffffff;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 36px;
    }
    &__form {
        margin-right: 10px;
    }
    &__wrp {
        display: flex;
    }
}

#messageBox {
    max-width: 300px;
    margin-bottom: 10px;
    ul {
        color: #c70101;
    }
    li{
        background: #fff;
        border-radius: 5px;
        padding: 5px;
        &:not(:last-child) {
                padding-bottom: 10px;
            }
    }
}